.idea
dependency-reduced-pom.xml
/logzio-java-appenders.iml
/.idea/
/logzio-logback-appender/logzio-logback-appender.iml
/logzio-logback-appender/target/
/logzio-logback-appender/dependency-reduced-pom.xml
/logzio-log-sender/logzio-log-sender.iml
/logzio-log-sender/target/
