<settings>
  <servers>
    <server>
        <id>ossrh-nexus</id>
        <username>CZtfifzV</username>
        <password>{gyOzqV+/BcYHB2tDE+wNB0brjHdPeb4uGeXyzkMuINwwHJKsnP7AEcOKJYtMyjzwIdD9oI3OjfUbeCcZ8PQt+g==}</password>
    </server>
  </servers>
  <profiles>
    <profile>
        <id>ossrh-nexus</id>
        <activation>
            <activeByDefault>true</activeByDefault>
        </activation>
        <properties>
            <gpg.executable>gpg</gpg.executable>
            <gpg.keyname>tamir.michaeli@logz.io</gpg.keyname>
            <gpg.passphrase>{gxzGzoLiRXsHtwx06wAgY1IqGiPo6CYc2QBkZCAU5O0=}</gpg.passphrase>
        </properties>
    </profile>
</profiles>
</settings>