<settings>
    <servers>
        <server>
            <id>ossrh-nexus</id>
            <username>${env.OSSRH_USERNAME}</username>
            <password>${env.OSSRH_PASSWORD}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>ossrh-nexus</id>
            <properties>
                <gpg.executable>gpg</gpg.executable>
                <gpg.keyname>${env.GPG_KEY}</gpg.keyname>
                <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
                <gpg.loopback>true</gpg.loopback>
            </properties>
        </profile>
    </profiles>
      <activeProfiles>
    <activeProfile>ossrh-nexus</activeProfile>
  </activeProfiles>
</settings>
